<% include header %>

<script>
var title = "<%= title %>";
<% var id = title; %>
<% if (typeof host != 'undefined') { %>
 var host = "<%= host %>";
 <% id = host + "-" + title; %>
<% } %>
</script>

<div id="<%= id %>" name="subscriber"></div>
