
body {
	font-family:  "Courier New", Courier, monospace;
}

h1 {
	margin: 8px;
}

#Stats {
}

#header {
}

#header #hostname {
	font-size: 1.2em;
	font-weight: bold;
}

#header #release {
	font-size: 0.8em;
	vertical-align: middle;
}

#devfed01-top-refresh {
	white-space: pre;
}


.stat {
	float: left;
	min-width: 150px;
	margin: 8px;
	padding: 12px;
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
}

.stat h2 {
	margin: 2px;
	text-align: right;
}

.stat table {
	width: 100%;
}

.stat table tbody tr td {
	text-align: right;
}
.stat table tr th {
	text-align: left;
}